@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #c63939, #234d87);
}
.inner-box{
    display: grid;
    width: 350px;
    height: 550px;
    background-color: transparent;
    border: 0.5px solid #ccc;
    box-shadow: 0px 5px 15px #e29393;
    border-radius: 15px;
    justify-content: center;
}
.inner-box h2{
    font-size: -webkit-xxx-large;
    color: brown;
    text-shadow: 0 5px 15px #e29393;
}
.inner-box input{
    width: 300px;
    height: 70px;
    font-size: 30px;
    background-color: transparent;
    text-align: end;
}
.btn{
    width: 65px;
    height: 65px;
    margin: 5px;
    border: 1px;
    border-radius: 50%;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    box-shadow: -2px 5px 15px #e29393;
}
.oprators{
    background-color: #ffd7a2;
}
.equal-oprator{
    background-color: #234d87;
    font-weight: 900;
}
.back-oprator{
    color: gray;
    font-weight: 900;
}